<h2>
  Profile : <%= @user.Name %>
</h2>
<b>Experience</b>
<%= @user.Exp %>
<b>Bought</b>
<%= @user.Bought %>
<b>Sold</b>
<%= @user.Sold %>
<b>Listed</b>
<%= @user.Listed %>
<b>Sell ratio</b>
<%= @user.sell_ratio %>
<br>

<b>Rated</b>
<%= best_in_place @user, :Rated, :type => :select, :collection => [[0, "unrated"], [1, "rated"]] %>
<br>
<b>Buyer Rating</b>
<%= best_in_place @user, :BuyerRating, :type => :select, :collection => [[0, "normal"], [1, "pro"], [2, "expert"]] %>
<br>
<b>Seller Rating</b>
<%= best_in_place @user, :SellerRating, :type => :select, :collection => [[-1, "greedy"], [0, "normal"], [1, "worthy"]] %>
<br>



<div id="select_table" >
  <%= form_tag({:action => "select_table"  } ) do  %>
      <% @selectable_table.each do |opt| %>
          <%=  radio_button_tag :select_table, opt[:label], opt[:active], :disabled => opt[:disabled], :onclick => "this.parentNode.submit();" %>
          <%= label_tag("select_table_"+ opt[:label], opt[:label]) %>
      <% end %>
  <% end %>
</div>


<% @selectable_table.each do |opt| %>
    <% next if !opt[:active] %>

    <%= javascript_tag do %>
        window.datatableheaders = <%= raw opt[:header].map{|rec| rec.downcase}.to_json %>
        window.datatablesorted = <%= raw opt[:sorted].to_json %>
        window.datatablewidth = <%= raw opt[:width].to_json %>
    <% end %>


    <table id="user-info" class="display" data-source="<%= show_info_table_user_url(format: "json")%>" data-infotype=<%=opt[:label]%>>
      <thead>
      <tr>
        <%= raw(opt[:header].map{|hdr| content_tag(:th, hdr)}.join(" ")) %>
      </tr>
      </thead>
    </table>

<% end %>
